<template>
    <div>
        <Header :isScroll="state.isWrap"/>
    </div>
</template>

<script setup lang="ts">
import {reactive ,ref} from 'vue'
import Header from '../Main/component/header.vue'
const state = reactive({
    isWrap: false,
})
</script>