<template>
    <div class="RegisterPanel" ref="registerpanel">
        <div class="toLoginPanel" @click="toLoginPanel">
            <Back /><p>返回登录</p>
        </div>
        <div class="RegisterForm">
            <h2>Register</h2>
            <form>
                <div class="item">
                    <input type="text" v-model="registerForm.username" required>
                    <label for="">用户名</label>
                </div>
                <div class="item">
                    <input type="password" v-model="registerForm.pass" required>
                    <label for="">密码</label>
                </div>
                <div class="item">
                    <input type="password" v-model="registerForm.checkPass" required>
                    <label for="">确认密码</label>
                </div>
                <div class="item">
                    <input type="text" v-model="registerForm.age" required>
                    <label for="">年龄</label>
                </div>
                <button class="btn" type="button" @click="register">注册
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </form>
        </div>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,ref } from 'vue'
import $ from 'jquery'
import { Back } from "@element-plus/icons-vue";
const registerpanel:any = ref(null)
const registerForm = reactive({
    username:'',
    pass:'',
    checkPass:'',
    age:''
})
const register =  () =>{
}
const toLoginPanel = () =>{
    $('.RegisterPanel').animate({
        "left":400
    },200)
}
defineExpose({
    registerpanel,
})
</script>
<style lang="less" scoped>
@import 'Register.less';
</style>