<template>
    <div class="Mountain"  ref="mountainContainer">
    </div>
</template>

<script lang="ts" setup>
import {ref,reactive,onMounted,onBeforeUnmount} from 'vue'
import Mountain from '../../ThreeModules/Mountain/index';
import { pageStatusStore } from '../../store/pageStatus';
import { ViewHelper } from '../../lib/ViewHelper';
const MainPage = pageStatusStore()

const mountainContainer = ref<HTMLElement|null>(null)
interface State{
    mountain: Mountain | null,
}
const state:State = reactive({
    mountain: null,
})

onMounted(()=>{
    state.mountain = new Mountain()
    mountainContainer.value!.appendChild(state.mountain.render.domElement)
    state.mountain.helper = new ViewHelper(state.mountain.camera, state.mountain.render,"bottom-right");
    state.mountain.helper.setControls(state.mountain.controls);
    window.onresize = ()=>{
        state.mountain!.onWindowResize();
        state.mountain!.helper!.update()
    }
})
onBeforeUnmount(()=>{
    setTimeout(()=>{
        state.mountain!.cleanup()
        state.mountain?.removeGUI()
        MainPage.modelLoadingStatus = false
    })
    
})
</script>

<style lang="less" scoped>
.Mountain{
    width: 100%;
    height:100vh;
    overflow: hidden;
    pointer-events: all;
}
</style>