<template>
    <div class="Main"  ref="main">
        <Header :isScroll="state.isWrap" />
        <Body/>
        <toTop :isShowBtn="state.isShowTopBtn" :parentDom="main"/>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,ref ,onMounted,onBeforeUnmount} from 'vue'
import  {onBeforeRouteLeave}  from 'vue-router';
import Header from './component/header.vue'
import Body from './component/body.vue';
import { pageStatusStore } from '../../store/pageStatus';
import toTop from '../../components/toTop.vue';
const MainPage = pageStatusStore()
const main = ref()
onMounted(()=>{
    if(MainPage.mainPageScrollHeight){
        main.value.scrollTop = MainPage.mainPageScrollHeight
    }
    main.value.addEventListener('scroll',handleScrollHeight)
})
const state = reactive({
    scrollHeight: 0,
    isWrap: false,
    isShowTopBtn: false,
    isScroll: false
})
const handleScrollHeight = () =>{
    if(!state.isScroll){
        state.isScroll = true
        main.value.scrollTop = MainPage.mainPageScrollHeight
        if(Math.ceil(MainPage.mainPageScrollHeight) >= 100){
            state.isWrap = true
            state.isShowTopBtn = true
        }else{
            state.isWrap = false
            state.isShowTopBtn = false
        }
    }else{
        state.scrollHeight = main.value.scrollTop
        MainPage.mainPageScrollHeight = main.value.scrollTop
        if(Math.ceil(state.scrollHeight) >= 100){
            state.isWrap = true
            state.isShowTopBtn = true
        }else{
            state.isWrap = false
            state.isShowTopBtn = false
        }
    }
    
}
const rollToTop =async () => {
    for(let i=10;state.scrollHeight>0;i=10){
        state.scrollHeight -= i
        if (state.scrollHeight < 0) {
            state.scrollHeight = 0
        }
        main.value.scrollTop = state.scrollHeight
        await sleep(0)
    }
}
function sleep(ms:number) {
  return new Promise((resolve) => {
    setTimeout(resolve, ms);
  });
}

onBeforeUnmount(()=>{
    main.value.addEventListener('scroll',handleScrollHeight)
})
onBeforeRouteLeave((to, from, next) => {
    MainPage.mainPageScrollHeight = state.scrollHeight
    next()
})
</script>
<style lang="less" scoped>
.Main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: all;
    overflow: auto;
    background: url('../../assets/page_bg_img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.Main::-webkit-scrollbar {
    display: none;
}
</style>