*{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
body,html{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#app{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}
#content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: 1;
}