<template>
    <router-view></router-view>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useRoute } from 'vue-router';
const route = useRoute();
</script>

<style lang="less" scoped></style>