.loginContainer {
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #03e9f4;
    pointer-events: all;
    .loginBox {
        position: relative;
        width: 400px;
        height: 364px;
        background-color: #0c1622;
        margin: 0px auto;
        border-radius: 10px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
        padding: 40px;
        box-sizing: border-box;
        overflow: hidden;
        .toRegister{
            position: absolute;
            top: 20px;
            right: 20px;
            color: #ffffff;
            font-size: 12px;
            >span{
                color: #03e9f4;
                font-size: 12px;
                cursor: pointer;
            }
        }
        h2 {
            text-align: center;
            color: aliceblue;
            margin-bottom: 30px;
            font-family: 'Courier New', Courier, monospace;
        }
        >form{
            .item {
                height: 45px;
                border-bottom: 1px solid #fff;
                margin-bottom: 40px;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    padding-top: 20px;
                    box-sizing: border-box;
                    background: transparent;
                    border: 0;
                    outline: none;
                }
                input:focus+label{
                    top: 0px;
                    font-size: 2px;
                }
                input:valid+label {
                    top: 0px;
                    font-size: 2px;
                }
                label {
                    position: absolute;
                    left: 0;
                    top: 12px;
                    transition: all 0.5s linear;
                }
            }
            .btn {
                padding: 10px 20px;
                margin-top: 30px;
                color: #03e9f4;
                position: relative;
                overflow: hidden;
                text-transform: uppercase;
                letter-spacing: 2px;
                left: 35%;
                background: transparent;
                border: 0;
                outline: none;
                cursor: pointer;

                >span {
                    position: absolute;
                }
                >span:nth-child(1) {
                    width: 100%;
                    height: 2px;
                    background: -webkit-linear-gradient(left, transparent, #03e9f4);
                    left: -100%;
                    top: 0px;
                    animation: line1 1s linear infinite;
                }
                @keyframes line1 {

                    50%,
                    100% {
                        left: 100%;
                    }
                }
                >span:nth-child(2) {
                    width: 2px;
                    height: 100%;
                    background: -webkit-linear-gradient(top, transparent, #03e9f4);
                    right: 0px;
                    top: -100%;
                    animation: line2 1s 0.25s linear infinite;
                }
                @keyframes line2 {

                    50%,
                    100% {
                        top: 100%;
                    }
                }
                span:nth-child(3) {
                    width: 100%;
                    height: 2px;
                    background: -webkit-linear-gradient(left, #03e9f4, transparent);
                    left: 100%;
                    bottom: 0px;
                    animation: line3 1s 0.75s linear infinite;
                }
                
                @keyframes line3 {
                
                    50%,
                    100% {
                        left: -100%;
                    }
                }
                span:nth-child(4) {
                    width: 2px;
                    height: 100%;
                    background: -webkit-linear-gradient(top, transparent, #03e9f4);
                    left: 0px;
                    top: 100%;
                    animation: line4 1s 1s linear infinite;
                }
                
                @keyframes line4 {
                
                    50%,
                    100% {
                        top: -100%;
                    }
                }
            }
            .btn:hover {
                border-radius: 5px;
                color: #fff;
                background: #03e9f4;
                box-shadow: 0 0 5px 0 #03e9f4,
                    0 0 25px 0 #03e9f4,
                    0 0 50px 0 #03e9f4,
                    0 0 100px 0 #03e9f4;
                transition: all 1s linear;
            }
        }
        
    }
}