<template>
    <div class="loginContainer" v-if="!uiGlobalConfig.Status.isLogin">
        <div class="loginBox">
            <div class="toRegister">还没账号？<span @click="toRegisterPanel">去注册</span></div>
            <h2>login</h2>
            <form>
                <div class="item">
                    <input type="text" v-model="state.username" required>
                    <label for="">userName</label>
                </div>
                <div class="item">
                    <input type="password" v-model="state.password" required>
                    <label for="">password</label>
                </div>
                <button class="btn" type="button" @click="Login">登录
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </form>
            <!-- 注册面板 -->
            <Register  ref="getchildpanel"/>
        </div>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,ref ,onMounted} from 'vue'
import {useRouter} from 'vue-router'
import $ from 'jquery'
import uiGlobalConfig from '../../Utils/Global/uiGlobalConfig'
import Register from '../Register/Register.vue'
const router = useRouter()
const getchildpanel:any =ref(null)
onMounted(()=>{
    console.log(getchildpanel.value)
})
const state = reactive({
    username: '',
    password: ''
})
const toRegisterPanel = () => {
    $('.RegisterPanel').animate({
        "left":0
    },200)
}
const Login = (val?:MouseEvent):void =>  {
    router.push('/main')
}
</script>
<style lang="less" scoped>
@import 'Login.less';
</style>