<template>
    <div class="Body">
        <div class="Banner-First">
            <div class="mountainLeft">
                <div class="mountainLeft-Info-header">
                    We offer modern solutions for growing your business
                </div>
                <div class="mountainLeft-Info-body">
                    We are team of talented designers making websites with Smart Digital City
                </div>
                <div class="mountainLeft-Info-footer"
                    @mouseenter="enterrMontainStarted"
                    @mouseleave="leaveMountainStarted"
                    @click="viewMountainCase"
                >
                    Get Started
                    <Right
                        :class="state.isHoverMountainStartBtn ? 'RightIcon hover' : 'RightIcon'"
                    />
                </div>
            </div>
            <div class="mountainRight">
                <img src="../../../assets/page_bg_img/Mountain.png" alt="智慧展" @click="viewMountainCase"/>
            </div>
            <!-- <img class="mountainRight" src="../../../assets/page_bg_img/Mountain.png" alt="智慧展" @click="viewMountainCase"> -->
        </div>
        <div class="Banner-Second">
             <div class="houseLeft">
                <div class="houseLeft-Info-header">
                    What Can We Do
                </div>
                <div class="houseLeft-Info-body">
                    ThreeJS is now a leading front-end 3d construction tool that can quickly implement 3D projects with good performance. 
                    Our aim is to help users build and realize businesses in their respective fields.
                </div>
                <div class="houseLeft-Info-leg">
                    ThreeJS现在是领先的前端3D构建工具，可以快速实现性能良好的3D项目。
                     我们的目标是帮助用户在各自领域建立和实现业务。
                </div>
                <div class="houseLeft-Info-footer"
                    @mouseenter="enterrMontainStarted"
                    @mouseleave="leaveMountainStarted"
                    @click="aboutUs"
                >
                    Read More
                    <Right
                        :class="state.isHoverMountainStartBtn ? 'RightIcon hover' : 'RightIcon'"
                    />
                </div>
            </div>
            <img class="houseRight" src="../../../assets/page_bg_img/about.jpg" alt="关于我们" @click="viewHouseCase">
        </div>
        <div class="Banner-Third">
            <div class="header">
                <h2>Our Value</h2>
                <p>Odit est perspiciatis laborum et dicta</p>
            </div>
            <div class="body">
                <div class="item" v-for="(item,index) in state.advantage" :key="index">
                    <div class="img">
                        <img :src="item.img" alt="">
                    </div>
                    <div class="content">
                        <h3>{{ item.title }}</h3>
                        <p>
                            {{ item.content }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import {reactive ,ref ,onMounted,onBeforeUnmount} from 'vue'
import  {useRouter}  from 'vue-router';
import { Right } from '@element-plus/icons-vue';
const router = useRouter()
const state = reactive({
    isHoverMountainStartBtn: false,
    advantage:[
        {
            index:0,
            img:require('../../../assets/page_bg_img/values-1.png'),
            title:'Ad cupiditate sed est odio',
            content:'Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit. Et veritatis id.'
        },
        {
            index:1,
            img:require('../../../assets/page_bg_img/values-2.png'),
            title:'Voluptatem voluptatum alias',
            content:'Repudiandae amet nihil natus in distinctio suscipit id. Doloremque ducimus ea sit non.'
        },
        {
            index:2,
            img:require('../../../assets/page_bg_img/values-3.png'),
            title:'Fugit cupiditate alias nobis.',
            content:'Quam rem vitae est autem molestias explicabo debitis sint. Vero aliquid quidem commodi.'
        }
    ]
})
const viewMountainCase = () =>{
    router.push('/mountain')
}
const viewHouseCase = () =>{
    router.push('/house')
}
const enterrMontainStarted = () =>{
    state.isHoverMountainStartBtn = true
}
const leaveMountainStarted = () =>{
    state.isHoverMountainStartBtn = false
}
const aboutUs = () =>{
    router.push('/about')
}
</script>

<style lang="less" scoped>
@import url('../style/body.less');
</style>