<template>
    <div 
        :class="state.isScroll ? 'Header isScroll' : 'Header'"
    >
        <div class="Header-InnerBox">
            <div class="Left-Icon">
                <img :src="state.logo" alt="logo">
                <p>这里是我的名字</p>
            </div>
            <div class="Right-Info">
                <div class="Tip-Item" v-for="(item,index) in state.headerNavTips" :key="index">
                    <div class="fa-item"
                        @mouseover="bntForShowPanel(item)"
                    >
                        {{ item.name }}
                    </div>
                </div>
            </div>
        </div>
        <div 
            :class="state.isShowDetailsPanels ? 'Show-DetailsPanels active' : 'Show-DetailsPanels'"
            @mouseenter="state.isShowDetailsPanels = true"
            @mouseleave="state.isShowDetailsPanels = false"
        >
            <div class="content">
                <div class="item" v-for="(item,index) in state.renderToPanel" :key="index">
                    <span>{{ item.name }}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts" setup>
import {reactive ,ref ,onMounted,watch} from 'vue'
interface State {
    logo:string,
    headerNavTips:{
        index:number,
        name:string,
        children:{
            index:number,
            name:string
        }[]
    }[],
    isScroll:boolean,
    isShowDetailsPanels:boolean,
    renderToPanel:{
        index:number,
        name:string
    }[]
}
const props = defineProps({
    isScroll: {
        type: Boolean,
        default: false,
        required: false
    }
})
const state:State = reactive({
    logo:require('../../../assets/page_bg_img/logo.jpg'),
    headerNavTips:[
        {
            index:0,
            name:'主页',
            children:[]
        },
        {
            index:1,
            name:'解决方案',
            children:[
                {
                    index:0,
                    name:'元宇宙'
                },
                {
                    index:1,
                    name:'数字城市'
                },
                {
                    index:2,
                    name:'数字孪生'
                },
                {
                    index:3,
                    name:'3D会展'
                },
                {
                    index:4,
                    name:'数字化博物馆'
                },
                {
                    index:5,
                    name:'系统定制开发'
                }
            ]
        },
        {
            index:2,
            name:'产品中心',
            children:[]
        },
        {
            index:3,
            name:'服务支持',
            children:[
                {
                    index:0,
                    name:'系统开发',
                },
                {
                    index:1,
                    name:'ThreeJs系统定制'
                },
                {
                    index:0,
                    name:'技术支持',
                }
            ]
        },
        {
            index:4,
            name:'关于我们',
            children:[
                {
                    index:0,
                    name:'关于思瑞',
                },
                {
                    index:1,
                    name:'企业文化',
                },
                {
                    index:2,
                    name:'新闻与活动',
                },
                {
                    index:3,
                    name:'联系我们',
                }
            ]
        }
    ],
    isScroll: false,
    isShowDetailsPanels: false,
    renderToPanel:[]
})

const bntForShowPanel = (item:{
    index:number,
    name:string,
    children:{
        index:number,
        name:string
    }[]
}):void=>{
    state.isShowDetailsPanels = item.children.length !==0 ? true : false;
    state.renderToPanel = item.children;
}
watch(
    ()=>props.isScroll,(newVal,oldVal)=>{
        state.isScroll = newVal
    }
)
</script>
<style lang="less" scoped>
.Header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 997;
    padding: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    .Header-InnerBox{
        width: 100%;
        height: 0.44rem;
        box-sizing: border-box;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        .Left-Icon{
            width: auto;
            height: 0.44rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 0.44rem;
                height: 100%;
                border-radius: 50%;
            }
            p{
                margin-left: 0.1rem;
                font-size: 0.3rem;
                font-weight: 700;
                letter-spacing: 0.01rem;
                color: #012970;
                font-family: "Nunito", sans-serif;
                word-break: keep-all;
            }
        }
        .Right-Info{
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            .Tip-Item{
                position: relative;
                width: 1rem;
                height: 0.44rem;
                box-sizing: border-box;
                padding: 0.1rem 0;
                cursor: pointer;
                .fa-item{
                    width: 100%;
                    position: relative;
                    font-size: 0.16rem;
                    font-family: "Nunito", sans-serif;
                    font-size: 0.16rem;
                    font-weight: 700;
                    color: #013289;
                    white-space: nowrap;
                    text-align: center;
                }
            }
            .Tip-Item:hover{
                overflow: visible;
                border-radius: 0.04rem;
                .fa-item{
                    color: #b02222;
                }
            }
        }
    }
    .Show-DetailsPanels{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color: rgb(255, 255, 255);
        z-index: 4;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
        opacity: 0;
        padding: 0.74rem 3rem 0;
        transform: translateY(-50%) scaleY(0);
        transition: all 0.3s;
        .content{
            width: 100%;
            height: auto;
            margin-top: 0.1rem;
            background-color: #ebebeb;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .item{
                flex: 1;
                visibility: visible;
                width: auto;
                height: 0.4rem;
                span{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Nunito", sans-serif;
                    font-size: 0.16rem;
                    font-weight: 700;
                    color: #012970;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }
    .Show-DetailsPanels.active{
        transition: all 0.3s ease-in-out;
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}
.Header.isScroll{
    z-index: 997;
    padding: 0.15rem 0;
    background-color: rgb(255, 255, 255);
}
</style>